.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-section-post {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
  gap: 24px;


  @include mediaMedium {
    margin: 60px 0;
  }

  @include mediaLarge {
    margin: 70px 0;
  }
}

.section-post {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 266px;
  grid-template-rows: repeat(3, auto);
  grid-auto-rows: 0;
  overflow-y: hidden;


  @include mediaMedium {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 557px;
  }

  @include mediaLarge {
    grid-template-columns: repeat(2, 557px);
    grid-template-rows: repeat(2, auto);

  }
}

.post-item {
  display: flex;
  flex-direction: column;
  gap: 10px;


  @include mediaMedium {
    flex-direction: row;
    gap: 21px;
  }
}

.post-img {
  width: 160px;
  height: 140px;
}

.post-title {
  color: #4E4E4E;
}

.post-info {
  color: #7C7C7C;
}

.post-text {
  display: none;
  color: #5C5C5C;


  @include mediaMedium {
    display: block;
  }
}

.wrapper-section-inst {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 32px 0;


   @include mediaMedium {
     background-color: #f7f7f7;
     padding: 50px 0;
   }
 }

.wrapper-section-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;


  @include mediaMedium{
    margin-bottom: 35px;
  }

  @include mediaLarge {
    margin-bottom: 24px;
  }
}

.section-sub-title {
  display: none;
  font-weight: 700;

  @include mediaMedium {
    display: block;
  }
}

.section-inst {
  display: grid;
  grid-template-columns: 301px;
  grid-template-rows: auto;
  grid-auto-rows: 0;
  overflow-y: hidden;


  @include mediaMedium {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  @include  mediaLarge {
    grid-template-columns: repeat(4, 1fr);
  }

}

.inst-item {
  width: 100%;
}
